@import "core/styles/variables.sass";

.Page {
  font-size: calc(10px + 2vmin);
}

.QuestionPage {
  background-color: $page-bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.PlayersProgressBacking {
  width: 100%;
  height: 70vh;
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WaitingMessage {
  height: 35vh;
  background-color: $header-color;
}

.Question {
  background-color: $page-bg-color;
  display: table;
  width: 100%;
}

.QuestionString {
  text-align: center;
}

.SubjectString {
  text-align: center;
}

.Timer {
  text-align: center;
}

.Answers {
  background-color: $page-bg-color;
  color: black;
  display: table;
  flex-direction: column;
  height: 80vh;
}

.Waiting {
  background-color: $page-bg-color;
  color: black;
  /* display:table; */
  flex-direction: column;
  height: 80vh;
}

.AnswerList {
  padding-top: 5%;
  padding-bottom: 5%;
  align-content: center;
}
