.Question {
    background-color: grey;
    display:table;
    width:100%;
}

.Answers {
    background-color: whitesmoke;
    color: black;
    display:table;
    flex-direction: column;
    height: 80vh;
}

.Waiting {
    background-color: whitesmoke;
    color: black;
    /* display:table; */
    flex-direction: column;
    height: 80vh;

}

.AnswerList {
    padding-top: 5%;
    padding-bottom: 5%;
    align-content: center;
}