@import "../../../core/styles/variables.sass";

.SetPrompt {
  text-align: center;
}

.SetPrompt-header {
  background-color: $header-color;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.QuestionSection1 {
  margin: 8vh 0;
}

.QuestionSection1-header {
  background-color: $page-bg-color;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.QuestionSection1-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $question-color-txt;
}

.PromptInput {
  background-color: $input-slot-color;
  // height: 18vh;
  min-height: 380px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.PromptInput-Button {
  top: 18px;
}

.MuiFormControl-root {
  color: white;
}