.ResultsTable {
    background-color: $header-color;
    height: 90vh;
    width: 100vh;
    font-size: calc(10px + 2vmin);
}

.ColumnTitle {
    padding-bottom: 2 vh;
    text-align: center;
    width: 67.5vh;
}

.Cell {
    text-align: center;
    width: 67.5vh;
}

.Waiting {
    
    text-align: center;
}