@import "core/styles/variables.sass";

.QuestionSectionReview {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.QuestionSectionReview-header {
  background-color: $page-bg-color;
  min-height: 30vh;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.QuestionSectionReview-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $question-color-txt;
}

.EmojiAnswerDisplay {
  background-color: $page-bg-color;
  height: 30vh;
  width: 90vw;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.EmojiAnswer {
  top: 18px;
  text-align: center;
}

.EmojiAnswer-Item {
  border: $page-bg-color solid 1px;
  background-color: $vote-slot-color;
}