@import "../../../core/styles/variables.sass";

.JoinPage {
  background-color: $page-bg-color;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
  input {
    font-weight: bold;
  }
  button span {
    font-weight: bold;
    color: $text-light;
  }
}
