@import "../../../core/styles/variables.sass";

.WaitingRoom {
  text-align: center;
}

.WaitingRoom-header {
  background-color: $header-color;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.WaitingRoom-header-container {
  padding: 0 10px 80px;
}

.WaitingRoom-header-container h3 {
  margin-top: 0;
}

.WaitingRoom-header-container h3 span {
  color: #9fcdf5;
}