@import "../../../core/styles/variables.sass";

.PlayersAnswer {
  text-align: center;
}

.PlayersAnswer-header {
  background-color: $header-color;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.QuestionSection {
  margin: 0 0 8vh 0;
}

.QuestionSection-header {
  background-color: $page-bg-color;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.QuestionSection-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $question-color-txt;
}

.EmojiAnswerSlots {
  height: 13vh;
  background-color: $input-slot-color;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 2vh;
  color: $text-light;
}

.EmojiAnswerButton {
  top: 18px;
  height: 40vh;
}

.EmojiKeyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c6cede;
  margin: 1;
  width: "100%";
  /* height: fit-content; */
  /* position: "fixed",
  bottom:  2,
  right:  3 */
}

.emoji-mart {
  position: absolute;
  bottom: 10px;
  /* right: 10px; */
}