@import "../core/styles/variables.sass";

.Window {
  background-color: $window-color;
  min-height: 100vh;
  max-height: 100vh;
  color: $text-light;
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: $header-color;
  min-height: 25vh;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.App-header-h2 {
  font-size: medium;
  color: $header-color-txt;
}

.App-link {
  color: $answers-color-txt;
}

.Branding {
  text-align: center;
}

.Branding-header {
  background-color: $header-color;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.Answers {
  text-align: center;
}

.Answers-header {
  background-color: $header-color;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
}

.Answers-link {
  color: $answers-color-txt;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
