.Window {
  background-color: #2c2c2e;
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-h2 {
  font-size: medium;
  color: rgb(155, 155, 155);
}

.App-link {
  color: #61dafb;
}

.Branding {
  text-align: center;
}

.Branding-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Answers {
  text-align: center;
}

.Answers-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Answers-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
