@import "../../../core/styles/variables.sass";

/* duplicate? */
.players { 
  background-color: $page-bg-color;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-light;
  padding-top: 30%;
  padding-bottom: 30%;
}

.WaitingRoomMessage {
  background-color: $page-bg-color;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: $text-light;
}

.WaitingRoomMessage h3 {
  margin: 1.5em 1em;
}

.WaitingRoomMessage h2 {
  margin: 0.2em 1em;
  font-size: 1.5em;
  color: $text-light;
}

.WaitingRoomMessage h1 span {
  color: $text-light;
}

[class^="player-"] {
  min-height: 1vh;
}