.PlayersAnswer {
  text-align: center;
}

.PlayersAnswer-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.QuestionSection {
  margin: 8vh 100;
  flex: auto;
  flex-direction: column;
}

.QuestionSection-header {
  background-color: #3e4252;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.QuestionSection-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c6cede;
}

.EmojiAnswerSlots {
  background-color: #3d465a;
  height: 64vh;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.EmojiAnswer {
  top: 18px;
  text-align: center;
}