$window-color: #2c2c2e;
$page-bg-color: #3e4252;
$header-color: #282c34;
$input-slot-color: #3d465a;
$vote-slot-color: #111522;

$header-color-txt: #9b9b9b;
$text-light: #ffffff;
$answers-color-txt: #61dafb;
$question-color-txt: #c6cede;

// branding v2
$window-color: #47b882;
$page-bg-color: #252928;
$header-color: #3aa877;
$input-slot-color: #318b60;
$vote-slot-color: #111522;

$header-color-txt: #9b9b9b;
$text-light: #ffffff;
$answers-color-txt: #61dafb;
$question-color-txt: #c6cede;
$player-name-color-txt: #beffc9;
