.players {
  background-color: #3e4252;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);;
  color: #ffffff;
  padding-top: 30%;
  padding-bottom: 30%;
}

.WaitingForUsers {
  background-color: #3e4252;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

[class^="player-"] {
  /* min-height: 8vh; */
  flex: auto;
  flex-direction: column;
}

[class^="PlayerList-grid-"] {
  /* min-height: vh; */
  min-height: 40vh;
  flex: auto;
  min-height: 15%;
  /* flex-direction: column; */
}

[class^="PlayersList-div-"] {
  /* min-height: vh; */
  min-height: 40vh;
  flex: auto;
  min-height: 15%;
  /* flex-direction: column; */
}
ul
{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    /* border: 1px solid #c2c2c2; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
}

li
{
    /* text-align: center; */
    display: table-row;
    /* background: pink; */
}
span
{
    /* display: table-cell; */
    vertical-align: middle;
    /* border-top: 1px solid green; */
}
